/* COMMON */
.common_subtitle {
  font-family: "Montserrat";
  font-size: xx-large;
  align-self: center;
}

.common_h3 {
  font-family: "Montserrat";
  color: var(--main-color);
  font-size: larger;
  padding: 5% 0;
  box-sizing: border-box;
  text-align: center;
}

.common_h4 {
  font-family: "Montserrat";
  color: var(--main-color);
  font-size: large;
  padding: 5% 0;
  box-sizing: border-box;
  text-align: center;
}

.common_h6 {
  font-family: "Montserrat";
  color: var(--second-color);
  font-size: medium;
  padding: 2% 0;
  box-sizing: border-box;
  text-align: center;
}

.common_p_large {
  font-family: "Montserrat";
  color: var(--main-color);
  font-size: x-large;
  font-weight: 300;
  box-sizing: border-box;
  text-align: center;
  width: 80%;
  margin: 0 10%;
  box-sizing: border-box;
}

.common_p {
  font-family: "Montserrat";
  color: var(--main-color);
  font-size: medium;
  padding-top: 2%;
  box-sizing: border-box;
  text-align: center;
  width: 80%;
  margin: 0 10%;
  box-sizing: border-box;
}

.common_p_white {
  font-family: "Montserrat";
  color: var(--second-color);
  font-size: medium;
  padding-top: 5%;
  box-sizing: border-box;
  text-align: center;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 10vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--transparente-color);
  transition: background-color 0.9s ease;
  z-index: 999;
}

.navbar.scrolled {
  background-color: var(--main-color);
  opacity: 0.9;
}

.nav_logo {
  display: flex;
  flex-direction: row;
}

.nav_company {
  display: flex;
  align-items: center;
  font-family: "Contrax";
  font-style: italic;
  color: var(--second-color);
  font-size: large;
  padding-left: 10%;
  box-sizing: border-box;
  white-space: nowrap;
}

.nav_company.scrolled {
  color: var(--second-color);
  text-shadow: none;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  display: flex;
  align-items: center;
}

.nav_button {
  font-family: "Montserrat";
  color: var(--second-color);
  font-size: large;
}

.nav_button.scrolled {
  color: var(--second-color);
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  background-image: url("../public/images/hero_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  background-color: var(--second-color);
}

.hero_title {
  display: flex;
  height: 80vh;
  font-family: "Montserrat";
  font-size: 3em;
  color: var(--second-color);
  font-style: italic;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  text-shadow: 4px 4px 8px var(--main-color);
}

.hero_subtitle {
  display: flex;
  height: 20vh;
  font-family: "Contrax";
  font-size: 2em;
  padding-top: 2%;
  box-sizing: border-box;
  color: var(--fourth-color);
  font-style: italic;
  justify-content: center;
  text-shadow: 2px 2px 8px var(--main-color);
}

/* BODY */
.arrow {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 80vw;
  justify-content: flex-end;
  margin: 0 10vw;
  box-sizing: border-box;
}

.arrow_icon {
  color: var(--third-color);
  font-size: xx-large;
}

.sectionContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.halfHeight {
  height: 50vh;
}

.fullHeight {
  height: 100vh;
}

.doubleHeight {
  height: 200vh;
}

/* BODY_SECTION_SERVICES */
.section_services {
  display: flex;
  background-color: var(--second-color);
  flex-basis: 100%;
  height: 100vh;
  justify-content: center;
}

.services {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80%;
  justify-content: space-between;
  align-self: center;
}

.service_chapter {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  justify-content: top;
}

.service_chapter > div {
  align-self: center;
}

.service_chapter > div:first-child {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.service_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  justify-content: space-evenly;
}

.service_grid {
  display: flex;
  -webkit-flex:1;
  flex:1;
  flex-direction: column;
  padding-top: 2%;
  box-sizing: border-box;
  
}

.service_icon {
  height: 75px;
  fill: var(--third-color);
  width: fit-content;
  align-self: center;
}

.service_icon:hover {
  fill: var(--fourth-color);
  filter: drop-shadow(2px 2px 3px var(--third-color) )
}

/* BODY_SECTION_ABOUT */
.section_about {
  display: flex;
  background-color: var(--second-color);
  flex-basis: 100%;
  height: 100vh;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80%;
  justify-content: space-between;
  align-self: center;
}

.about > div:first-child {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.section_about_cards {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  height: auto;
  justify-content: space-evenly;
}

.section_about_card {
  display: grid;
  width: 35%;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 40% 40% 20%;
  grid-template-areas: "image" "text" "stats";
  border-radius: 20px;
  background: var(--second-color);
  box-shadow: 5px 5px 15px var(--third-color);
  font-family: "Montserrat";
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.section_about_card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px var(--third-color);
  z-index: 300;
  cursor: default;
}

.section_about_card_image_one {
  grid-area: "image";
  background: url("../public/images/about_one.jpg");
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  border-left: 5px solid var(--third-color);
  border-top: 5px solid var(--third-color);
  border-right: 5px solid var(--third-color);
}

.section_about_card_image_two {
  grid-area: "image";
  background: url("../public/images/about_two.jpg");
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  border-left: 5px solid var(--third-color);
  border-top: 5px solid var(--third-color);
  border-right: 5px solid var(--third-color);
}

.section_about_card_text {
  grid-area: "text";
  padding: 25px 0;
  box-sizing: border-box;
  border-left: 5px solid var(--third-color);
  border-right: 5px solid var(--third-color);
}

.section_about_card_icon {
  height: 18px;
  fill: var(--strava-color);
  margin-right: 2%;
  box-sizing: border-box;
}

.section_about_card_nickname {
  width: 100%;
  color: var(--strava-color);
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section_about_card_stats {
  grid-area: "stats";
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: var(--third-color);
}

.section_about_card_stats_bottom {
  grid-area: "stats";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.section_about_card_stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

/* BODY_SECTION_CLIENTS */
.section_clients {
  display: flex;
  background-color: var(--second-color);
  flex-basis: 100%;
  height: 100vh;
}

.clients {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 100%;
  justify-content: space-between;
}

.client_left {
  background-color: rgb(137, 100, 172);
  height: 90%;
}
.client_center {
  background-color: chartreuse;
  height: 90%;
}
.client_right {
  background-color: darkgreen;
  height: 90%;
}

/* BODY_SECTION_PARTNERS */
.section_partners {
  display: flex;
  background-color: var(--third-color);
  flex-basis: 100%;
  height: 100vh;
  justify-content: center;
}

.partners {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 100%;
  justify-content: space-between;
}

.partner_left {
  background-color: rgb(137, 100, 172);
  height: 90%;
}
.partner_center {
  background-color: chartreuse;
  height: 90%;
}
.partner_right {
  background-color: darkgreen;
  height: 90%;
}

/* BODY_SECTION_CONTACT */

.contact {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.contact_left {
  background-color: rgb(137, 100, 172);
  height: 90%;
  width: 50%;
}

.contact_right {
  background-color: darkgreen;
  height: 90%;
  width: 50%;
}

/* FOOTER */
.section_footer {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  flex-basis: 100%;
  height: 100vh;
  justify-content: center;
}

.section_contact {
  display: flex;
  height: 70vh;
  justify-content: center;
}

.section_foot {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
}

.foot_top {
  display: flex;
  height: 80%;
  width: 80vw;
  align-self: center;
}

.foot_topLeft {
  display: flex;
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
}

.foot_logo {
  height: 60%;
  width: auto;
}

.foot_topCenter {
  display: flex;
  flex-basis: 60%;
  justify-content: center;
  align-items: center;
}

.foot_slogan {
  font-family: "Montserrat";
  font-size: medium;
  color: var(--second-color);
  font-style: italic;
}

.foot_topRight {
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  justify-content: space-evenly;
  align-items: center;
}

.foot_icon {
  color: var(--second-color);
  font-size: xx-large;
}

.foot_bottom {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 80vw;
  color: var(--second-color);
  justify-content: center;
  align-items: center;
  align-self: center;
  border-top: solid 1px var(--second-color);
}

.foot_bottom p:first-child {
  font-family: "Contrax";
  font-size: medium;
  font-style: italic;
}

.foot_bottom p:last-child {
  font-family: "Montserrat";
  font-size: small;
}
